<%- include ('./partial/header') %>

<h1 class="center lr">Register</h1>

<form class="log-reg" action="/register" method="post">
  <div class="center">
    <input class="lr-i" type="text" name="username" placeholder="username">
  </div>
  <div class="center">
    <input class="lr-i" type="password" name="password" placeholder="password">
  </div>
  <div class="center">
    <button class="lr">Submit</button>
  </div>
</form>



<%- include ('./partial/footer') %>
